<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h3>Turmas</h3>
    <%= link_to 'Criar turma', new_turma_path, class: 'btn btn-success' %>
  </div>
  <div class="card-body">
    <%= render partial: 'turmas/turmas', locals: { turmas: @turmas } %>
  </div>
  <div class="card-footer text-muted">
    <%= @turmas.size %> turma(s)
  </div>
</div>