<% if aluno.turmas.any? %>
  <h4 class="text-center mt-3">Turmas</h4>
  <div id="turmasAluno">
    <%= render partial: 'turmas/turmas', locals: { turmas: aluno.turmas } %>
  </div>
<% else %>
  <p class="text-center mt-3">O aluno não está inscrito em nenhuma turma.</p>
<% end %>