<div class="border rounded p-3">
  <h4 class="text-center">Informações</h4>
  <hr>
  <div class="d-flex justify-content-between ">
    <span><b>iduff:</b> <%= professor.iduff %></span>
    <span><b>Siape:</b> <%= professor.siape %></span>
    <span><b>E-mail:</b> <%= professor.email %></span>
  </div>
</div>