<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h3>Professores</h3>
    <%= link_to 'Criar professor', new_professor_path, class: 'btn btn-success' %>
  </div>
  <div class="card-body">
    <%= render partial: 'professores/professores',
               locals: { professores: @professores } %>
  </div>
  <div class="card-footer text-muted">
    <%= @professores.size %> professor(es)
  </div>
</div>